{% extends "base.html" %}
{% block title %}Gerenciar Alunos{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>Gerenciar Alunos</h2>

  <ul class="nav nav-tabs" id="alunosTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="cadastrar-tab" data-bs-toggle="tab" data-bs-target="#cadastrar" type="button" role="tab">Cadastrar Aluno</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="importar-tab" data-bs-toggle="tab" data-bs-target="#importar" type="button" role="tab">Importar Alunos</button>
    </li>
  </ul>

  <div class="tab-content p-3 border border-top-0" id="alunosTabContent">
    <!-- Aba: Cadastrar (carrega a rota existente em modo embed) -->
    <div class="tab-pane fade show active" id="cadastrar" role="tabpanel">
      <iframe src="{{ url_for('alunos_bp.adicionar_aluno') }}?embed=1" style="width:100%; min-height:760px; border:0;" title="Cadastrar Aluno"></iframe>
    </div>

    <!-- Aba: Importar (carrega a rota existente em modo embed) -->
    <div class="tab-pane fade" id="importar" role="tabpanel">
      <iframe src="{{ url_for('alunos_bp.importar_alunos') }}?embed=1" style="width:100%; min-height:760px; border:0;" title="Importar Alunos"></iframe>
    </div>
  </div>
</div>
{% endblock %}
